
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-color: #81ecec;
    display: flex;
    flex-wrap: wrap;
}
.note{
 
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 15px;
    margin-top: 70px;
    margin-left: 70px;

}
.tool{
    width: 100%;
    background-color: #2d3436;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: end;

}
.tool span{
    margin: 5px;
    cursor: pointer;
}
.note textarea{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    font-size: 18px;
}
#addBtn{
    background-color: #2d3436;
    color: white;
    position: fixed;
    right: 30px;
    top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
}